
    <%-include("partials/header.ejs") %>

    <form class="container" action="/new" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="movieName" placeholder="Movie Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Genre</label>
          <select class="form-control" id="exampleFormControlSelect1" name="genre">
            <option  value="horror">Horror</option>
            <option  value="drama">Drama</option>
            <option  value="action">Action</option>
            <option  value="fantasy">Fantasy</option>
            <option  value="sifi">Si-Fi</option>
          </select>
        </div>
       
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" name="description"></textarea>
        </div>
        <button type="submit" style="background-color: hsl(218, 4%, 52%);" class="btn my-2">Confirm identity</button>
      </form>

    <%-include("partials/footer.ejs") %>
